@import "tailwindcss";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #123ABF;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c0caf8;
}

.custom-scroll {
    scrollbar-width: 2px;
    scrollbar-color: #123ABF transparent;
}

@font-face {
    font-family: LilexNerd;
    src: url("../public/fonts/LilexNerdFontMono-Regular.ttf");
}

@theme {
    --font-lilex: LilexNerd, "sans-serif";
}